/* color */
$light-1: #ffffff;
$light-2: #f2f2f2;
$light-3: #cccccc;
$light-4: #c3c3c3;
$light-5: #bfbfbf;
$light-6: #999999;
$light-7: #777777;
$deep-1: #3c3c3c;
$deep-2: #333333;
$deep-3: #272727;
$deep-4: #1e1e1e;
$deep-5: #1a1a1a;
$primary-1: #1980ff;
$primary-2: #2a53cd;
$red-1: #d32f3f;
$red-2: #E53935;
$warning-1: #FFB300;
$success-1: #7CB342;
$pink-1: #c2185b;

/* font */
$font: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
$code: Consolas, Monaco;

/* shadow */
$shadow-1: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-2: 0 2px 6px rgba(0, 0, 0, 0.3);