@import './base.scss';
@import './common.scss';
@import './mixin.scss';
@import './variables.scss';
@import './vuetify.scss';

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

/* flex */
.d-flex {
  display: flex;
}
.in-flex {
  display: inline-flex;
}
.flex-1 {
  flex: 1;
}
.flex-clo {
  flex-direction: column;
}
.flex-ai {
  align-items: center;
}
.flex-start {
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}
.flex-jcc {
  justify-content: center;
}
.flex-jcb {
  justify-content: space-between;
}
.flex-jca {
  justify-content: space-around;
}
.flex-nw {
  flex-wrap: nowrap;
}
.flex-w {
  flex-wrap: wrap;
}
.flex-sh {
  flex-shrink: 0;
}

/* text */
.title-xl {
  font-size: 34px;
}
.title-lg {
  font-size: 28px;
}
.title-md {
  font-size: 24px;
}
.title-sm {
  font-size: 20px;
}
.title-xs {
  font-size: 18px;
}
.text-md {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}
.text-right {
  text-align: right;
}
.text-primary {
  color: $primary-1;
}
.text-describe {
  color: $light-6;
}

/* 一些公共的keyframes动画 */
@include keyframes(fade-right) {
  0% {
    opacity: 0;
    margin-left: 100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@include keyframes(fade-left) {
  0% {
    opacity: 0;
    margin-right: 100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}

@include keyframes(fade-top) {
  0% {
    opacity: 0;
    margin-bottom: 100px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@include keyframes(fade-bottom) {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@include keyframes(background-fade) {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}
